In [1]:
import pandas as pd

In [15]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JhonDoe@gmail.com']
}

In [16]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [17]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [18]:
filt = (df['last'] == 'Doe')

In [19]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JhonDoe@gmail.com

In [20]:
df[df['last'] == 'Doe']

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JhonDoe@gmail.com

In [21]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JhonDoe@gmail.com

In [22]:
df.loc[filt, 'email']

1    JaneDoe@gmail.com
2    JhonDoe@gmail.com
Name: email, dtype: object

In [24]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [25]:
df.loc[filt]

  first last              email
2  John  Doe  JhonDoe@gmail.com

In [26]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [27]:
df[filt]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [28]:
df[~filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com

In [29]:
df = pd.read_csv('C:/Users/Prashanta Saha/Downloads/data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('C:/Users/Prashanta Saha/Downloads/data/survey_results_schema.csv', index_col='Column')

In [30]:
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [33]:
schema_df.sort_index().index

Index(['Age', 'Age1stCode', 'BetterLife', 'BlockchainIs', 'BlockchainOrg',
       'CareerSat', 'CodeRev', 'CodeRevHrs', 'CompFreq', 'CompTotal',
       'Containers', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'Dependents', 'DevEnviron', 'DevType', 'EdLevel', 'EduOther',
       'Employment', 'EntTeams', 'Ethnicity', 'Extraversion', 'FizzBuzz',
       'Gender', 'Hobbyist', 'ITperson', 'ImpSyn', 'JobFactors', 'JobSat',
       'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'LastHireDate', 'LastInt', 'MainBranch', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'MiscTechDesireNextYear', 'MiscTechWorkedWith', 'OffOn',
       'OpSys', 'OpenSource', 'OpenSourcer', 'OrgSize',
       'PlatformDesireNextYear', 'PlatformWorkedWith', 'PurchaseHow',
       'PurchaseWhat', 'Respondent', 'ResumeUpdate', 'SOAccount', 'SOComm',
       'SOFindAnswer', 'SOHowMuchTime', 'SOJobs', 'SONewContent', 'SOPartFreq',
       'SOTimeSaved', 'SOVisit1st', 'SOVisitFreq', 'SOVisitTo', 'ScreenName',
       'Sexuality', 'SocialMedia', 'Student', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'UnitTests', 'WebFrameDesireNextYear',
       'WebFrameWorkedWith', 'WelcomeChange', 'WorkChallenge', 'WorkLoc',
       'WorkPlan', 'WorkRemote', 'WorkWeekHrs', 'YearsCode', 'YearsCodePro'],
      dtype='object', name='Column')

In [34]:
high_salary = (df['ConvertedComp'] > 70000)

In [37]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [39]:
countries = ['United States', 'India', 'United Kingdom', 'Germany', 'Canada']
filt = df['Country'].isin(countries)

In [42]:
df.loc[filt, 'Country']

Respondent
1        United Kingdom
4         United States
6                Canada
8                 India
10                India
              ...
85642     United States
85961    United Kingdom
86012             India
88282     United States
88377            Canada
Name: Country, Length: 45008, dtype: object

In [43]:
df['LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
3                                                 HTML/CSS
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88377                        HTML/CSS;JavaScript;Other(s):
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [44]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [46]:
df.loc[filt, 'LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object

In [47]:
df.loc[filt, 'LanguageWorkedWith'].shape

(36443,)